/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background-color: #88d503;
  background-image: url("https://images.creativemarket.com/0.1.0/ps/761946/1360/842/m1/fpnw/wm1/bgr4uyqaag8hnwoiho7ixiwdmtjwjt9tjumbzlctviflcbt95id9ghto2xlxriy2-.jpg?1446847094&s=a566b80822ba1f1803be42a35492652a");
    background-position: 10%;
} 


.cta {
  padding: 15px 30px;
  font-size: 1rem;
  background-color: #04ac4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 1s;
  transition: all 1s ease;
}

.cta:hover{
  padding: 15px 30px;
  font-size: 1rem;
  background-color: #04ac4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 15px black;
  transform: scale(1.2);
}   

.features {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
}

.header1{
    font-weight: bold;
}

.header2{
    font-weight: bold;
}

.image {
    border-radius: 10px;
}

.feature-card1 {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background: #04ec68;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  transition: box-shadow 1s;
  transition: all 1s ease;
}

.feature-card1:hover {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background: #04ec68;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 15px black;
  transform: scale(1.2);
}

.feature-card2 {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background: #04ac4d;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  transition: box-shadow 1s;
  transition: all 1s ease;
}

.feature-card2:hover {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background: #04ac4d;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 15px black;
  transform: scale(1.2);
}

.feature-card3 {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background: #027434;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  transition: box-shadow 1s;
  transition: all 1s ease;
}

.feature-card3:hover {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background: #027434;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 15px black;
  transform: scale(1.2);
}


.visual img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.info {
  padding: 50px 20px;
}

.cta-final {
  text-align: center;
  padding: 70px 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #026023;
  color: #fff;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
  }
  .feature-card {
    margin: 10px 0;
  }
}